<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fkgkvkgkpku@tznvy.pbz</string>
	<key>contactName</key>
	<string>M. Auayan</string>
	<key>description</key>
	<string>Sass is a template language for easily creating CSS; implemented in ruby. This bundle provides syntax highlighting and some useful commands.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>E5F3F81F-4CAA-4D22-93A9-3AB23141F9FD</string>
			<string>5F2CE188-DBBA-47D2-B9D7-21E9A31BA6A8</string>
			<string>9083E047-CEBE-41C9-BCF7-6E8131094888</string>
			<string>D3488358-116A-4962-BFFE-311DD27066C3</string>
			<string>------------------------------------</string>
			<string>287703AC-4C16-4D87-8A6A-128B17829C66</string>
		</array>
		<key>submenus</key>
		<dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Ruby Sass</string>
	<key>ordering</key>
	<array>
	</array>
	<key>uuid</key>
	<string>176253C8-5D97-4C20-AA34-3BE8BC73FBC9</string>
</dict>
</plist>
